body
{
	background-color:#F5F3C1;
    font-family: 'Brush Script MT', cursive;
    color: #2F0F5D;
    
}
a
{
	color: #2F0F5D;
	text-decoration:none;
    padding: 10px;
    background: #FFDCB6 ;
    border-radius: 18px ;
}
a:hover
{
	color:#576CBC;
	font-size:25px;
}
form
{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
